<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head (titulo='QUIZ')}"></head>

<body>
<div class="container-fluid">

    <h2 th:text="'QUIZ'"></h2>

    <form method="get" th:object="${idPartida}" th:action="@{/iniciar-partida/{id}(id = ${idPartida})}">
        <div class="col-6">
        <div class="form-group">
        </div>
            <p th:text="'Hola ' + ${jugador}"></p>
            Esperando al resto de jugadores y el administrador inicie la partida
<!--        <button class="btn btn-primary" type="submit">INICIAR QUIZ</button>-->
            <a class="btn btn-link" th:href="@{/quiz/salir/{id}(id = ${idPartida})}">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="~{fragments::javascript}"/>

<script>
    const stompClient = new StompJs.Client({
        brokerURL: 'ws://localhost:8080/gs-guide-websocket'
    });
    stompClient.onConnect = (frame) => {
        console.log('Connected: ' + frame);
        stompClient.subscribe('/topic/start', (id) => {
            window.location.replace("/iniciar-partida")
        });
    };
    stompClient.onWebSocketError = (error) => {
        console.error('Error with websocket', error);
    };

    stompClient.onStompError = (frame) => {
        console.error('Broker reported error: ' + frame.headers['message']);
        console.error('Additional details: ' + frame.body);
    };
</script>

</body>
</html>