<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head (titulo='QUIZ')}"></head>

<body>
<div class="container-fluid">

    <h2 th:text="'Preparando Quiz'"></h2>
    <ul>
        <li th:each="jugador:${jugadores}" th:text="${jugador.getNombre()}"/>
    </ul>

    <a class="btn btn-link" th:href="@{/partida/start/{id}(id = ${idPartida})}">Empezar</a></p>
    <a class="btn btn-link" th:href="@{/partida/cancel/{id}(id = ${idPartida})}">Cancelar</a></p>

</div>

<div th:replace="~{fragments::javascript}"/>

<script th:inline="javascript">
    var idPartida = /*[[${idPartida}]]*/ null;
    var eventSource = new EventSource('/sse/jugadores/' + idPartida);

    eventSource.onmessage = function(event) {
        console.log("Update received: " + event.data);
        eventSource.close();
        window.location.replace("/partida/prepare/" + idPartida);
    };
</script>

</body>
</html>