<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head (titulo='RESULTADO')}"></head>

<body>
<div class="container-fluid" th:object="${quiz}">

    <h2 th:text="'RESULTADO'"></h2>
    <h3 th:text="'¡El jugador ha conseguido un total de '+ ${puntuacion} + ' puntos!'"></h3>
    <form method="get" th:action="@{/quiz}">
        <div class="col-6">
        <div class="form-group">
        </div>
        <button class="btn btn-primary" type="submit">JUGAR DE NUEVO</button>
        <a class="btn btn-link" th:href="@{/login}">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="~{fragments::javascript}"/>

</body>
</html>