<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head (titulo='Esperando')}"></head>

<body>
<div class="container-fluid">

    <h2 th:text="'Configurando partida'"></h2>

    <div class="contenedor-secundario">
    <div class="card-espera">

        <p th:text="'Hola ' + ${jugador}"></p>
        <p>Esperando al resto de jugadores y que el administrador inicie la partida</p>
        <a class="btn btn-link" th:href="@{/quiz/salir/{id}(id = ${idPartida})}">Cancelar</a>
    </div>
    </div>
</div>
<footer th:replace="fragments::footer"/>
<div th:replace="~{fragments::javascript}"/>

<script th:inline="javascript">

    var idPartida = /*[[${idPartida}]]*/ null;
    console.log(idPartida);
    var eventSource = new EventSource('/sse/start/' + idPartida);

    eventSource.onmessage = function(event) {
        console.log("Update received: " + event.data);
        eventSource.close();
        window.location.replace("/quiz/iniciar/" +idPartida);
    };

    var eventSource2 = new EventSource('/sse/cancel/' + idPartida);

    eventSource2.onmessage = function(event) {
        console.log("Update received: " + event.data);
        eventSource2.close();
        window.location.replace("/menuJuegos");
    };

    window.addEventListener("beforeunload", function() {
        eventSource.close();
        eventSource2.close();
    });

</script>

</body>
</html>