<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head (titulo='RESULTADO')}"></head>

<body>
<div class="container-fluid" th:object="${quiz}">

    <h2 th:text="'RESULTADOS DE LA PARTIDA'"></h2>
    <div th:each="puntuacion : ${puntuaciones}">
        <span th:text="'El jugador ' + ${puntuacion.getKey()} + ' ha conseguido ' + ${puntuacion.getValue()} + ' punto(s)'"/>
    </div>
    <form method="get" th:action="@{/quiz}">
        <div class="col-6">
        <a class="btn btn-link" th:href="@{/menuJuegos}">Volver al menú de partidas</a>
        </div>
    </form>
</div>
<footer th:replace="fragments::footer"/>
<div th:replace="~{fragments::javascript}"/>

</body>
</html>