<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='Lista de Partidas')"></head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Listado de Partidas Disponibles'"></h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div th:each="partida: ${partidas}">
                <p th:text="${partida.id}"/>
                <p th:text="${partida.modoDeJuego.nombre}"/>
                <a class="btn btn-primary" th:href="@{/quiz/join/{id}(id = ${partida.id})}">
                    <span>Unirse</span>
                </a>
            </div>
            <p>
                <a class="btn btn-link" href="/logout">Salir</a>
                <a class="btn btn-link" href="/menu" th:if="${usuario.isAdmin == true}">Ir al panel de administrador</a>
            </p>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>